@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "poppin", sans-serif;
}
.header{
    background: url("../images/moving\ 1.png") no-repeat center;
    background-size: 100vh;
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;
    background-attachment: scroll;
}
a{
    text-decoration: none;
    color: white;
}
.header a:hover{
    color: #FAFF00;
    background-color: #000;
    cursor: pointer;
}
nav{
    float: right;
    color: white;
    padding: 20px;
    margin: 10px;
}
nav li{
    display: inline-block;
    padding: 20px;
}
nav li button{
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}
#login{
    background-color: #FAFF00;
    color:  black;
}
#login:hover{
    background-color: black;
    color: #FAFF00;
}
#signup{
    background-color: black;
    color: #FAFF00;
}
#signup:hover{
    color: black;
    background-color: #FAFF00;
}
.text{
    clear: right;
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 800px;
}
h3{
    color: #FAFF00;
    font-size: 70px;
}
h6{
    font-size: 35px;
    color: silver;
}
.hustle{
    display: flex;
    font-size: 35px;
    margin: 40px 0;
}
.hustle img{
    width: 600px;
}
.right{
    width: 600px;
    margin: 50px;
    padding: 30px;
}
h2{
    font-weight: bold;
    text-decoration: overline;
    text-decoration-thickness: 6px;
}
p{
    font-weight: 200;
}
button{
    color: #FAFF00;
    background-color: black;
    font-size: 25px;
    padding: 10px;
    border-radius: 0 20px 0 0;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: white;
    border: 4px solid #FAFF00;
    color: #000;
}
.Movers{
    background-color: rgba(192,192,192, 0.4);
}
.Movers h1{
    padding: 80px;
    margin: 30px;
    font-size: 60px;
    text-decoration: overline;
    text-decoration-thickness: 8px;
}
#movers{
    display: flex;
    margin: 0 30px;
    padding: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

#movers div{
    display: flex;
    flex-direction: column;
}
.details{
    background-color: white;
    border-radius: 0 0 12px 12px;
    box-shadow: 5px 5px 5px silver;
}
h4{
    font-size: 28px;
    padding-left: 15px;
}

.Movers img{
    width: 400px;
}
table{
    margin: 15px;
    border-spacing: 30px;
}
table, th{
    border: 1px solid silver;
    border-collapse: collapse;
    border-bottom: none;
}
th{
    padding: 20px;
}
.amovers, .maridadi, .ufalme, .chapchap, .songa, .upesi{
    margin: 20px;
}
/* .final{
    background-color: #000;
    color: white;
}
.final h1{
    padding: 20px;
    font-size: 45px;
    font-weight: 500;
}
span{
    color: #FFAC12;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.menu li{
    list-style: none;
    padding: 3px;
}
.menu #column{
    font-weight: bold;
    
}
.brands{
    font-size: 30px;
    padding: 12px;
}
.brands li{
    margin: 12px;
    display: inline;
} */